@import '../../style/color';
@import '../../style/typos';

.gallery {
    background-color: $landing-background;
    width: 100vw;
    max-height: 100vh;
    padding: 60px 0 0 0;
    display: grid;
    grid-template-rows: 25vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    gap: 7px;

    &__article {
        position: relative;
        cursor: pointer;
        overflow: hidden;

        &:hover {

            .gallery__info-box {
                    text-shadow: 0 0 30px  #000;
                    opacity: 1;
            }

            .gallery__thumbnail {
                filter: grayscale(0%);
            }
        }
    }

    &__info-box {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        z-index: 2;
        bottom: 50%;
        left: 50%;
        transform: translate(-30%, 80%);
        width: 25vw;
        color: $light-typo;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        cursor: pointer;

        .info-box {
            &__title {
                font-size: 1.4rem;
                font-family: $ubuntu;
                text-align: left;
            }
            
            &__discipline {
                font-size: 1rem;
                font-family: $hind-siliguri;
                text-align: left;
            }

            &__year {
                font-size: 0.8rem;
                font-family: $hind-siliguri;
                text-align: left;
            }
        }
    }

    &__thumbnail {
        max-width: 100%;
        height: 40vh;
        filter: grayscale(100%);
    }
}

@media (max-width: 780px) {
    .gallery {
        grid-template-columns: 1fr 1fr;    
    }
        
    .gallery__article {
        width: 50vw;
    }

    .gallery__info-box {
        width: 30vw;
    }

    .info-box__title {
        font-size: 1rem;
    }
    
    .info-box__discipline {
        font-size: 0.6rem;
    }
    .info-box__year {
        font-size: 0.8rem;
    }
    
    // .gallery__thumbnail {
    //     width: 45vw;
    //     height: 40vw;
    // }
}


@media (max-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;    
    }
        
    .gallery__article {
        width: 95vw;
    }

    .gallery__info-box {
        width: 65vw;
    }

    .info-box__title {
        font-size: 1rem;
    }
    
    .info-box__discipline {
        font-size: 0.6rem;
    }
    .info-box__year {
        font-size: 0.8rem;
    }
    
    // .gallery__thumbnail {
    //     width: 95vw;
    //     height: 70vw;
    // }
}