@import '../../style/color';
@import '../../style/typos';

@keyframes spotlight {
  0% { 
    filter: brightness(100%) blur(0px) opacity(100%);
    height: 70vh;
  }
  100% { 
    filter: brightness(400%) blur(5px) opacity(50%);
    height: 50vh;
  }
}

.landing {
    background-color: $landing-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $dark-typo;
    z-index:1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    &__logo {
        height: 50vmin;
        position: absolute;
        margin: auto;
        animation: spotlight 2s ease-in 0s infinite alternate;
    }

    &__logo:nth-child(2) {
      transform: rotate(180deg);
    }
    &__logo:nth-child(3) {
      transform: rotate(90deg);
    }
    &__logo:nth-child(4) {
      transform: rotate(-90deg);
    }

    &__skill-box {
        position: absolute;
        top: 5vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
        .skill-box {
          background-color: transparent;
          border: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin: 0 10px;
    
          &:hover {
            .skill-box__title {
              color: $light-typo;
            }
            
            .skill-box__thumbnail-box{
              opacity: 1;
            }
          }
    
          &__title {
            cursor: pointer;
            position: static;
            color: $dark-typo;
            font-family: $title-body-font;    
            transition: color 0.2s;         
          }
    
          &__thumbnail-box {
            opacity: 0;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 7px;
            height: 187px;
            width: 327px;
            transition: opacity 0.5s;
          }
    
          &__thumbnail {
            height: 90px;
            width: 160px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        
        .skill-box:nth-child(1) {
          margin-right: 50px;
        }

        .skill-box:nth-child(2) {
          margin-top: 100px;
        }
        
        .skill-box:nth-child(3) {
          margin-left: 200px;
          margin-top: 100px;
        }

        .skill-box:nth-child(4) {
          margin-left: 100px;
        }

        .skill-box:nth-child(5) {
          margin-top: -200px;
          margin-left: 200px;
        }
    }
}

@media (max-width: 1000px) {
  .landing {
    &__skill-box {      
       .skill-box:nth-child(1) {
         margin-right: 0px;
       }

       .skill-box:nth-child(2) {
         margin-top: 100px;
       }

       .skill-box:nth-child(3) {
         margin-left: 50px;
         margin-top: 100px;
       }

       .skill-box:nth-child(4) {
         margin-left: 0px;
       }
       
       .skill-box:nth-child(5) {
         margin-top: 0px;
         margin-left: 0px;
       }
    }
  }
}


@media (max-width: 750px) {
  .landing {    

    &__skill-box {

      grid-template-rows: auto;
      grid-template-columns: 1fr;

        .skill-box:nth-child(2) {
          margin-top: 0px;
        }

       .skill-box:nth-child(3) {
          margin-left: 0px;
          margin-top: 0px;
       }       

       .skill-box:nth-child(4) {
        margin-bottom: 60px;
       }       
    }
    
    &__logo {
      height: 50vmin;
    }
  }    
}

@media (max-width: 750px) {
  .landing {
    &__skill-box {
      .skill-box {
        width: 327px;
        margin: 0 0;
        &:hover {
          .skill-box__thumbnail-box{
            display: grid;
          }
        }

        &__thumbnail-box {          
          opacity: 1;
          display: none;
        }
      }
    }
  }
}