@import '../../style/color';
@import '../../style/typos';

.landing {
    background-color: $landing-background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: $dark-typo;
    z-index:1;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    &__logo {
        height: 40vmin;
        pointer-events: none;
        margin: auto;
    }

    // @media (prefers-reduced-motion: no-preference) {
    //     .landing__logo {
    //       animation: App-logo-spin infinite 20s linear;
    //     }
    // }

    &__skill-box {
        position: absolute;
        top: 5vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
        .skill-box {
          background-color: transparent;
          border: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin: 0 10px;
    
          &:hover {
            .skill-box__title {
              color: $light-typo;
            }
            
            .skill-box__thumbnail-box{
              opacity: 1;            }
          }
    
          &__title {
            cursor: pointer;
            position: static;
            color: $dark-typo;
            font-family: $title-body-font;    
            transition: color 0.2s;         
          }
    
          &__thumbnail-box {
            opacity: 0;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            // position: static;
            max-height: 250px;
            max-width: 900px;
            transition: opacity 0.5s;
          }
    
          &__thumbnail {
            padding: 1vmin;
            max-height: 100px;
            max-width: 300px;
            background-repeat: no-repeat;
          }
        }
        
        .skill-box:nth-child(1) {
          align-items: center;
        }

        .skill-box:nth-child(2) {
          align-items: flex-start;
        }
        
        .skill-box:nth-child(3) {
          align-items: flex-start;
        }

        .skill-box:nth-child(4) {
          align-items: center;
        }

        .skill-box:nth-child(5) {
          align-items: flex-end;
        }
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }