@-webkit-keyframes spotlight {
  0% {
    -webkit-filter: brightness(100%) blur(0px);
            filter: brightness(100%) blur(0px);
    height: 70vh;
  }
  100% {
    -webkit-filter: brightness(400%) blur(5px);
            filter: brightness(400%) blur(5px);
    height: 50vh;
  }
}

@keyframes spotlight {
  0% {
    -webkit-filter: brightness(100%) blur(0px);
            filter: brightness(100%) blur(0px);
    height: 70vh;
  }
  100% {
    -webkit-filter: brightness(400%) blur(5px);
            filter: brightness(400%) blur(5px);
    height: 50vh;
  }
}

.landing {
  background-color: #d6d6d6;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.landing__logo {
  height: 70vmin;
  position: absolute;
  margin: auto;
  -webkit-animation: spotlight 2s ease-in 0s infinite alternate;
          animation: spotlight 2s ease-in 0s infinite alternate;
}

.landing__logo:nth-child(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.landing__logo:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.landing__logo:nth-child(4) {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.landing__skill-box {
  position: absolute;
  top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.landing__skill-box .skill-box {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 10px;
}

.landing__skill-box .skill-box:hover .skill-box__title {
  color: #fff;
}

.landing__skill-box .skill-box:hover .skill-box__thumbnail-box {
  opacity: 1;
}

.landing__skill-box .skill-box__title {
  cursor: pointer;
  position: static;
  color: #000;
  font-family: "Space Grotesk", sans-serif;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.landing__skill-box .skill-box__thumbnail-box {
  opacity: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 7px;
  height: 187px;
  width: 327px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.landing__skill-box .skill-box__thumbnail {
  height: 90px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing__skill-box .skill-box:nth-child(1) {
  margin-right: 50px;
}

.landing__skill-box .skill-box:nth-child(2) {
  margin-top: 100px;
}

.landing__skill-box .skill-box:nth-child(3) {
  margin-left: 200px;
  margin-top: 100px;
}

.landing__skill-box .skill-box:nth-child(4) {
  margin-left: 100px;
}

.landing__skill-box .skill-box:nth-child(5) {
  margin-top: -200px;
  margin-left: 200px;
}
/*# sourceMappingURL=landing.css.map */