$landing-background: #d4d4da;
// $landing-link-hover: red;
$landing-link: #fff;
$light-typo: #fff;
$dark-typo: #000;

$navbar-link-color: rgb(223, 223, 223);
$navbar-fade-gradient: rgba(0, 0, 0, 0.253);