$gulzar: 'Gulzar', serif;
$hind-siliguri: 'Hind Siliguri', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

$title-body-font: 'Space Grotesk', sans-serif; 
$body-font: 'Syne', sans-serif;
$footer-font: 'Viaoda Libre', cursive;