@import '../../style/color';
@import '../../style/typos';

.footer {
    width: 100vw; 
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgb(2,0,36);
    background: linear-gradient(transparent, transparent 0%, $navbar-fade-gradient 100%);
    color: $light-typo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0 20px ;
    border: none;

    &--dark-theme {
        background-color: #000000;
        background: linear-gradient(transparent, transparent 0%, $about-me-background 20%, $about-me-background 100%);

    }
    
    &__title {
        font-family: $footer-font;
        color: $light-typo;
        text-decoration: none;
        font-size: 1.5rem;
        
        &:link {
            text-decoration: none;
            color: $landing-background;
        }
        
        &:visited {
            text-decoration: none;
            color: $landing-background;
        }
        
        &:hover {
            text-decoration: none;
        }        
    }
}

@media (max-width: 780px) {
    .footer * {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .footer * {
        font-size: 1rem;
    }
}