@import './style/typos';
@import './style/color';

*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    // text-align: left;
//     width: 100vw;
//     height: 100vh;
    background-color: $landing-background;
  
//   &__logo {
//     height: 40vmin;
//     pointer-events: none;
//     // display: none;
//   }
  
//   @media (prefers-reduced-motion: no-preference) {
//     .App__logo {
//       animation: App-logo-spin infinite 20s linear;
//     }
//   }

//   &__skill-box {
//     position: absolute;
//     top: 5vh;
//     // display: none;
    
//     .skill-box {
//       background-color: transparent;
//       border: none;
//       color: $landing-link;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: flex-start;

//       &:hover {
//         color: $landing-link-hover;
  
//         .skill-box__thumbnail-box{
//           opacity: 1;
//         }
//       }

//       &__title {
//         cursor: pointer;
//         position: static;
        
//       }

//       &__thumbnail-box {
//         position: static;
//         max-height: 250px;
//         max-width: 900px;
//         transition: opacity 1s;
//         opacity: 0;
//       }

//       &__thumbnail {
//         padding: 1vmin;
//         max-height: 100px;
//         max-width: 300px;
//         background-repeat: no-repeat;
//       }
//     }    
//   }

//   &__header {
//       background-color: $landing-background;
//       background-color: red;
//       min-height: 100vh;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: flex-start;
//       // font-size: calc(10px + 2vmin);
//       color: $landing-link;
//       z-index:1;
//       position:absolute;
//       top: 0px;
//       left: 0px;

//   }
}
  
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
  
  