@import './../../style/color';
@import './../../style/typos';

.about-me {
    padding: 60px 40px 0 40px;
    scroll-snap-align: start;
    height: 100vh;
    background-color: $landing-background;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__text-box {

        & *{
            text-align: left;
        }

        .text-box {
            
            &__context {
                width: 40vw;
                margin-bottom: 10px;
                
            }
            
            &__contact {
                width: 40vw;
            }
        }

    }

    &__portrait {
        width: 20vw;
        height: auto;
    }

    & * {
        font-family: $body-font;
        color: #fff;
    }
}