@import './../../style/color';
@import './../../style/typos';

.about-me {
    padding: 60px 40px 0 40px;
    scroll-snap-align: start;
    min-height: 100vh;
    background-color: $landing-background;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__text-box {

        & *{
            text-align: left;
        }

        .text-box {
            
            &__context {
                width: 40vw;
                margin-bottom: 10px;
                
            }
            
            &__contact {
                width: 40vw;
            }
        }

    }

    &__portrait {
        width: 20vw;
        height: auto;
    }

    & * {
        font-family: $body-font;
        color: #fff;
    }
}

@media (max-width: 800px) {
    .about-me {        
        padding: 60px 40px 50px 40px;
        flex-direction: column-reverse;
        justify-content: flex-start;

        .text-box {
            &:nth-child(2) {
                margin-bottom: 70px;
            } 
                
            
            &__context {
                width: 80vw;                
            }
            
            &__contact {
                width: 80vw;
            }
        }
        
        &__portrait {
            width: 20vw;
            height: auto;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}