@import '../../style/typos';
@import '../../style/color';

.navbar {
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background: linear-gradient(#000, #000 0%, transparent 100%);
    border-bottom: 2px solid #fff;
    z-index:1;

    &__handler {
        height: 100%;
        width: 15vw;
        font-family: $gulzar;
        text-transform: capitalize;
        cursor: pointer;
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: $navbar-link-color;

        &:hover {
            color: $landing-link;
        }

        &--focus {
            height: 100%;
            width: 15vw;
            font-family: $gulzar;
            text-transform: capitalize;
            cursor: pointer;
            text-decoration: none;
            background-color: transparent;
            border: none;
            color: $navbar-link-color;
            color: $landing-link;
        }
    }
}